<i class="mobile-nav-toggle"></i>
<header>
  <nav>
    <ul>
      <li>
        <a href="#Home" class="nav-link scrollto active">
          <i>
            <svg class="icon" alt="">
              <use xlink:href="../../assets/icons.svg#github"></use>
            </svg></i><span>Home</span></a>
      </li>
      <li>
        <a href="#about" class="nav-link scrollto">
          <i>
            <svg class="icon" alt="">
              <use xlink:href="../../assets/icons.svg#github"></use>
            </svg></i><span>About Me</span></a>
      </li>
      <li>
        <a href="#skills" class="nav-link scrollto">
          <i>
            <svg class="icon" alt="">
              <use xlink:href="../../assets/icons.svg#github"></use>
            </svg></i> <span>Skills</span></a>
      </li>
      <li>
        <a href="#projects" class="nav-link scrollto">
          <i>
            <svg class="icon" alt="">
              <use xlink:href="../../assets/icons.svg#github"></use>
            </svg></i> <span>Projects</span></a>
      </li>
      <li>
        <a href="#resume" class="nav-link scrollto">
          <i>
            <svg class="icon" alt="">
              <use xlink:href="../../assets/icons.svg#github"></use>
            </svg></i><span>Resume</span></a>
      </li>
    </ul>
  </nav>
</header>